* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --burgundy-dark: #3A000C;
  --burgundy-mid: #75162E;
  --burgundy-deep: #550B18;
  --cream: #F2E5C5;
  --cream-light: #fff8ee;
  --green: #276B45;
  --red: #A32D2D;
}

body {
  font-family: 'Inter', sans-serif;
  background: var(--cream);
  color: var(--burgundy-dark);
}